$color-main: rgba(76, 82, 85, 0.4);
$color-activeBtn: rgba(174, 181, 185, 0.5);
$color-hover: rgba(229, 231, 232, .5);
$desktop-width-1: 1530px;
$desktop-width-2: 1350px;
$desktop-width-3: 1250px;
$desktop-width-4: 1150px;
$tablet-width-1: 860px;
$tablet-width-2: 580px;
$mobile-width-1: 425px;
$mobile-width-2: 375px;
