@media screen and (max-width: $desktop-size){
    .wrapper {
        width: 100%;
        max-width: $desktop-size;
        margin: auto;
    }

    
}

@media screen and (max-width: $tablet-size){
    
}

@media screen and (max-width: $mobile-size){
    
}