@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  max-width: 100vw;
  min-height: 95vh;
  background-color: cadetblue;
  position: relative;
  overflow-x: hidden;
}

button {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.7rem;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}

.overlay, .background__image, .background__splash-screen {
  position: absolute;
  top: -4rem;
  width: 100%;
  height: 105%;
}

.overlay {
  background: linear-gradient(180deg, rgba(8, 15, 26, 0.59), rgba(17, 17, 46, 0.46));
  z-index: -1;
  transition: none;
}

.background__splash-screen {
  top: -110%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  transition: all 1s linear;
  z-index: 5;
}
.background__splash-screen img {
  width: 100px;
}
.background__splash-screen .splash-screen-text {
  font-size: 5rem;
  color: white;
}

.background__image {
  background-size: cover;
  background-position: 50%;
  z-index: -2;
  background-image: url("./assets/images/background.jpg");
}

.background__image-delete {
  animation: deleteImg 2s linear;
}

.wrapper {
  padding: 0 6rem;
  margin: auto;
  width: 100%;
  max-width: 1739px;
}

@keyframes deleteImg {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.error {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3rem;
  top: -100%;
  left: 0;
  right: 0;
  max-width: max-content;
  max-height: max-content;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  user-select: none;
  z-index: 20;
  transition: all 0.5s linear;
}
.error__message {
  padding: 5rem 5rem 4rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}
.error__confirm-button {
  width: 80px;
  height: 40px;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: black;
  background: #fff;
}
.error__confirm-button:active {
  transform: scale(0.95);
}

.active {
  top: 0;
}

.header {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}
.header__buttons {
  display: flex;
}
.header__buttons button {
  height: 4.4rem;
  width: 4.4rem;
  font-weight: 700;
}
.header__btn-refresh {
  border-radius: 0.5rem;
  background: rgba(180, 184, 187, 0.4);
  background-image: url("./assets/images/refresh.svg");
  background-repeat: no-repeat;
}
.header__btn-refresh img {
  position: relative;
  top: 4%;
  transition: 1s;
}
.header__btn-refresh:hover {
  background: rgba(255, 255, 255, 0.4);
  background-image: url("./assets/images/refresh.svg");
}
.header__language {
  display: flex;
  align-content: stretch;
  margin: 0 0 0 1rem;
}
.header__btn-eng-lang {
  border-radius: 0.5rem 0 0 0.5rem;
  background: rgba(76, 82, 85, 0.4);
}
.header__btn-eng-lang:hover {
  background: rgba(229, 231, 232, 0.5);
}
.header__btn-ru-lang {
  border-radius: 0 0.5rem 0.5rem 0;
  background: rgba(76, 82, 85, 0.4);
}
.header__btn-ru-lang:hover {
  background: rgba(229, 231, 232, 0.5);
}
.header__temperature {
  display: flex;
  align-content: stretch;
  margin: 0 0 0 1rem;
}
.header__btn-celsius-deg {
  border-radius: 0.5rem 0 0 0.5rem;
  background: rgba(76, 82, 85, 0.4);
}
.header__btn-celsius-deg:hover {
  background: rgba(229, 231, 232, 0.5);
}
.header__btn-fahrenheid-deg {
  border-radius: 0 0.5rem 0.5rem 0;
  background: rgba(76, 82, 85, 0.4);
}
.header__btn-fahrenheid-deg:hover {
  background: rgba(229, 231, 232, 0.5);
}
.header__btn-current-location {
  margin: 0 0 0 1rem;
  background: rgba(174, 181, 185, 0.5);
  border-radius: 0.5rem;
}
.header__btn-current-location img {
  position: relative;
  top: 4%;
}
.header__btn-current-location:hover {
  background: rgba(229, 231, 232, 0.5);
}
.header__btn--active {
  background: rgba(174, 181, 185, 0.5);
}
.header__search {
  display: flex;
  margin-left: 1rem;
}
.header__search-input {
  font-weight: 400;
  color: #fff;
  border-radius: 0.5rem 0 0 0.5rem;
  width: 274px;
  height: 44px;
  min-width: 274px;
  min-height: 44px;
  padding-left: 15px;
  font-size: 1.4rem;
  background: rgba(76, 82, 85, 0.4);
  border: 1px solid rgba(228, 227, 227, 0.2);
}
.header__search-input::placeholder {
  color: white;
}
.header__search-btn {
  font-weight: 700;
  border-radius: 0 0.5rem 0.5rem 0;
  width: 10rem;
  line-height: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  background: rgba(174, 181, 185, 0.5);
}
.header__search-btn:hover {
  background: rgba(229, 231, 232, 0.5);
}

.title {
  margin-top: 7rem;
  color: white;
  user-select: none;
}
.title__location {
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 5.4rem;
  text-transform: uppercase;
}
.title__date-time {
  margin-top: 1rem;
}
.title__date {
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
}
.title__time {
  margin-left: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
}

.container-weather-map {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  height: max-content;
}

.weather {
  color: white;
  user-select: none;
  width: max-content;
  height: max-content;
}
.weather__today {
  display: flex;
}
.weather__temp-today {
  font-size: 30.6rem;
  line-height: 37.3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.weather__deg-today {
  font-size: 20rem;
  line-height: 37.3rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  top: -75px;
}
.weather__wrapper {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -65px;
}
.weather__icon-today {
  max-width: 20rem;
}
.weather__icon-today img {
  width: 100%;
}
.weather__today-details {
  margin-top: 2rem;
}
.weather__today-details span {
  font-style: normal;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 3.7rem;
  text-transform: uppercase;
}
.weather__three-days {
  display: flex;
  margin-top: 2rem;
}
.weather__day {
  margin-right: 2rem;
}
.weather__day-title {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.2rem;
  text-transform: uppercase;
}
.weather__day-temp {
  display: flex;
}
.weather__day-temp span {
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  line-height: 6.5rem;
  text-transform: uppercase;
}
.weather__icon {
  width: 120px;
  height: 120px;
}
.weather__icon img {
  position: relative;
  top: -40px;
  width: 100%;
  height: 100%;
}

.map {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: max-content;
}
.map__img {
  width: 375px;
  height: 375px;
  border-radius: 20px;
}
.map__coordinates {
  text-align: right;
}
.map__coordinates span {
  font-style: normal;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 3rem;
  text-transform: capitalize;
  color: #ffffff;
}

@media screen and (max-width: 1530px) {
  .weather__temp-today {
    font-size: 22rem;
    line-height: 26rem;
  }
  .weather__deg-today {
    font-size: 9rem;
  }
  .weather__deg-today {
    font-size: 12rem;
    line-height: 16.3rem;
    top: -70px;
  }
  .weather__today-details span {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}
@media screen and (max-width: 1350px) {
  .weather__temp-today {
    font-size: 19rem;
    line-height: 24rem;
  }
  .weather__deg-today {
    font-size: 9rem;
  }
  .weather__wrapper {
    top: -55px;
  }
  .weather__today-details span {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
  .weather__day-temp span {
    font-size: 4rem;
    line-height: 5.5rem;
  }
  .weather__icon-today {
    max-width: 15rem;
  }
  .weather__three-days {
    margin-top: 0;
  }
  .weather__icon {
    width: 10rem;
    height: 10rem;
  }

  .map__img {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 1250px) {
  .title {
    margin-top: 4rem;
  }
  .title__location {
    font-size: 3.8rem;
    line-height: 4.4rem;
  }
  .title__date {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .title__time {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .weather__temp-today {
    font-size: 16rem;
    line-height: 20rem;
  }
  .weather__deg-today {
    line-height: 15.3rem;
    top: -50px;
  }
  .weather__wrapper {
    top: -60px;
  }
  .weather__today-details span {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .map__img {
    width: 320px;
    height: 320px;
  }
}
@media screen and (max-width: 1150px) {
  .container-weather-map {
    justify-self: stretch;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .weather {
    margin-top: 2rem;
  }
  .weather__today {
    width: auto;
    justify-content: center;
    margin-right: 0;
  }
  .weather__temp-today {
    font-size: 19rem;
    line-height: 26rem;
  }
  .weather__deg-today {
    font-size: 9rem;
    line-height: 19rem;
    top: -70px;
  }
  .weather__wrapper {
    top: -45px;
  }
  .weather__today-details {
    margin-top: 0;
  }
  .weather__today-details span {
    font-size: 1.6rem;
    line-height: 2.5rem;
  }

  .map {
    margin: 2rem 0;
  }
  .map__img {
    width: 350px;
    height: 350px;
  }
}
@media screen and (max-width: 860px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header__language {
    margin: 0 0 0 2rem;
  }
  .header__temperature {
    margin: 0 0 0 2rem;
  }
  .header__btn-current-location {
    margin: 0 0 0 2rem;
  }
  .header__search {
    margin-left: 0;
    margin-top: 2rem;
    width: 324px;
  }
  .header__search-input {
    width: 240px;
    min-width: 240px;
    padding-left: 10px;
    font-size: 1.1rem;
  }
  .header__search-btn {
    font-size: 1.1rem;
    width: 10rem;
    min-width: 7rem;
  }

  .title {
    margin: 0;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
  .wrapper {
    padding: 0 2rem;
  }

  .weather {
    margin-top: 2rem;
    width: 100%;
  }
  .weather__wrapper {
    margin: 0;
  }
  .weather__today {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .weather__temp-today {
    font-size: 19rem;
    line-height: 19rem;
  }
  .weather__wrapper {
    top: 0;
    flex-direction: row;
  }
  .weather__three-days {
    margin-top: 2rem;
    justify-content: center;
  }
  .weather__day-title {
    text-align: center;
  }
  .weather__day-temp {
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .weather__icon img {
    top: 0;
  }
}
@media screen and (max-width: 425px) {
  .wrapper {
    padding: 0 1rem;
  }

  .weather__temp-today {
    font-size: 13rem;
    line-height: 15rem;
  }
  .weather__deg-today {
    font-size: 8rem;
    line-height: 8rem;
    top: -50px;
  }
  .weather__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .map__img {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 375px) {
  .header__language {
    margin: 0 0 0 1rem;
  }
  .header__temperature {
    margin: 0 0 0 1rem;
  }
  .header__btn-current-location {
    margin: 0 0 0 1rem;
  }
  .header__search {
    margin-top: 2rem;
    width: 295px;
  }
  .header__search-input {
    width: 210px;
    min-width: 210px;
    padding-left: 10px;
    font-size: 1.1rem;
  }

  .weather__temp-today {
    font-size: 10rem;
    line-height: 12rem;
  }
  .weather__deg-today {
    font-size: 6rem;
    line-height: 6rem;
    top: -30px;
  }
  .weather__today-details span {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .weather__day {
    margin-right: 0;
  }
  .weather__day-temp span {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  .weather__icon {
    width: 100px;
    height: 100px;
  }

  .map__img {
    width: 220px;
    height: 220px;
  }
}